<html>
{% load static %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CRUD</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'projectapp/css/bootstrap.css' %}">
    </head>
    <body>
        <div class="container mt-5">
            <h2 class="text-center alert alert-danger">All Qbox Details</h2>   
            {% block content %} {% endblock content %}
        </div>
        <script src="{% static 'projectapp/js/jquery.js' %}" ></script>
        <script src="{% static 'projectapp/js/popper.js' %}" ></script>
        <script src="{% static 'projectapp/js/bootstrap.js' %}" ></script>
    </body>
</html>